{% extends 'template/template.html' %}
{% block head %}
<title>minimalit | supprimer vendeur</title>
{% endblock %}
{% block content %}
<br><br><br><br><br>
<div class="alert alert-danger">
	<h4><a href="{% url 'admin_home' %}">annuler</a></h4>
	<form method="POST">
		{% csrf_token %}
		<h4><strong>avant la suppression de produit vous avez obliger de mettre un cause</strong></h4>
		<div>
			<input type="text" name="causeDeSuppression" required="">
		</div>
		<div>
			<input type="submit" name="submit" value="supprimer">
		</div>
	</form>
</div>
{% endblock %}