
{% extends 'template/template.html' %}
{% block content %}
<br><br><br><br>
<!-- product category -->
  <section id="aa-product-details">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="aa-product-details-area">
            <div class="aa-product-details-content">
              <div class="row">
                <!-- Modal view slider -->
                <div class="col-md-5 col-sm-5 col-xs-12">                              
                  <div class="aa-product-view-slider">                                
                    <div id="demo-1" class="simpleLens-gallery-container" >
                      <div class="simpleLens-container" >
                        <div class="simpleLens-big-image-container" ><a data-lens-image="{{ produit.affiche.url }}" class="simpleLens-lens-image"><img src="{{ produit.affiche.url }}" class="simpleLens-big-image" ></a></div>
                      </div>
                      <div class="simpleLens-thumbnails-container">
                      	{% for item in images %}
                          <a data-big-image="{{ item.image.url }}" data-lens-image="{{ item.image.url }}" class="simpleLens-thumbnail-wrapper" href="#">
                            <img src="{{ item.image.url }}" style="width:30px;height:30px;">
                          </a>                                    
                          {% endfor %}
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Modal view content -->
                <div class="col-md-7 col-sm-7 col-xs-12">
                  <div class="aa-product-view-content">
                    <h3>{{produit.entete}}</h3>
                    <div class="aa-price-block">
                      <span class="aa-product-view-price">{{produit.prix}}</span>
                      <p class="aa-product-avilability">owner: <span><img src="{{ vendeurProfile.avatar.url }}" style="width:30px;height:30px;">{{ vendeurProfile.user }}</span></p>
                      <p class="aa-product-avilability">Opération: <span>{{ produit.operation }}</span></p>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis animi, veritatis quae repudiandae quod nulla porro quidem, itaque quis quaerat!</p>
                 
        
                    <div class="aa-prod-view-bottom">
                      <h4>Telephone</h4>
                      <a >122334343434</a>
                   
                    </div>
                  </div>
                </div>
              </div>
            </div>

 <div class="aa-product-details-bottom">
              <ul class="nav nav-tabs" id="myTab2">
                <li><a href="#description" data-toggle="tab">Important</a></li>
                               
              </ul>

              <!-- Tab panes -->
              <div class="tab-content">
                <div class="tab-pane fade in active" id="description">
                  
                  <ul>
                    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod, culpa!</li>
                    <li>Lorem ipsum dolor sit amet.</li>
                    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
                    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor qui eius esse!</li>
                    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam, modi!</li>
                  </ul>
                 
                </div>
               
   	{% if messages  %}
<div class="container alert alert-success">
	<div class="alert alert-danger">
		{% for item in messages %}
			<p>{{ item }}</p>
		{% endfor %}
	</div>
{% endif %}
	<h4><strong>{{produit.entete}}</strong></h4>
	<p>{{produit.contenu}}</p>
	<p><i class="fa-solid fa-hand-holding-dollar"></i>{{produit.prix}}&nbspEUR</p>
	<form method="POST">
		{% csrf_token %}
		nombre de piece
		<input type="number" name="nombreDePiece" required>
    Adresse de destination
    <input type="text" name="adresseDestination" required="">
		<input type="submit" name="submit" value="acheter">
	</form>
</div>
		
		<br><br>           
              </div>
            </div>
            <!-- Related product -->
            <div class="aa-product-related-item">
              
   
              <!-- quick view modal -->                  
              <div class="modal fade" id="quick-view-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">                      
                    <div class="modal-body">
                   
                      <div class="row">
                        <!-- Modal view slider -->
                        <div class="col-md-6 col-sm-6 col-xs-12">                              
                          <div class="aa-product-view-slider">                                
                            <div class="simpleLens-gallery-container" id="demo-1">
                              
                              <div class="simpleLens-thumbnails-container">
                                  <a href="#" class="simpleLens-thumbnail-wrapper"
                                     data-lens-image="img/view-slider/large/polo-shirt-1.png"
                                     data-big-image="img/view-slider/medium/polo-shirt-1.png">
                                      <img src="img/view-slider/thumbnail/polo-shirt-1.png">
                                  </a>                                    
                                  <a href="#" class="simpleLens-thumbnail-wrapper"
                                     data-lens-image="img/view-slider/large/polo-shirt-3.png"
                                     data-big-image="img/view-slider/medium/polo-shirt-3.png">
                                      <img src="img/view-slider/thumbnail/polo-shirt-3.png">
                                  </a>

                                  <a href="#" class="simpleLens-thumbnail-wrapper"
                                     data-lens-image="img/view-slider/large/polo-shirt-4.png"
                                     data-big-image="img/view-slider/medium/polo-shirt-4.png">
                                      <img src="img/view-slider/thumbnail/polo-shirt-4.png">
                                  </a>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- Modal view content -->
                        <div class="col-md-6 col-sm-6 col-xs-12">
                     
                        </div>
                      </div>
                    </div>                        
                  </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
              </div>
              <!-- / quick view modal -->   
            </div>  
          </div>
        </div>
      </div>
    </div>
    
  </section>



{% endblock %}
____________________________
